# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Josh York
#	email = jyork@nerdery.com
[user]
	name = Josh York
	email = joshua.s.york@gmail.com
[alias]
	s = status
[push]
	default = simple
[credential]
	helper = osxkeychain
