[user]
	name = Josh York
	email = joshua.s.york@gmail.com
[alias]
	s = status
[push]
	default = simple
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[core]
	excludesfile = /Users/jyork/.gitignore_global
