format = """
$directory\
$nodejs\
$custom\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$time
$character\
"""

[cmd_duration]
min_time = 3_000
format = " [$duration]($style)"
style = "#484f58"

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](#e6edf3) ($ahead_behind$stashed)]($style)"
style = "#484f58"
conflicted = ""
untracked = ""
modified = ""
staged = ""
renamed = ""
deleted = ""
stashed = "≡"

[directory]
style = "#58a6ff"

[nodejs]
disabled = true
format = "[$symbol($version )]($style)"
style = "#484f58"

[character]
success_symbol = "[❯](#58a6ff)"
error_symbol = "[❯](#f85149)"
vimcmd_symbol = "[❮](#58a6ff)"

[package]
disabled = true

[custom.gitwhoami]
command = "git config user.profile"
when = "exit 0"
format = "[$output]($style) "
style = "#8b949e"

[git_branch]
format = "[$branch]($style)"
style = "#8b949e"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "#8b949e"

[time]
disabled = true
format = '[$time]($style)'
time_format = '%r'
style = '#484f58'
